
#horizontalTab{padding:26px 0 0 0;display: inline-block !important; margin-top: 60px !important;}
ul.resp-tabs-list, p {
  margin: 0px;
  padding: 0px;
}
ul.resp-tabs-list{text-align:center;}
.resp-tabs-list li {  
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    margin: 0px 20px 0 0;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 30px;
    position: relative;
    background: #efefef;
    font-weight: 700;
}
.resp-tabs-list li:after{
	position: absolute;
	top: 21px;
	right: -22px;
	border-top: 1px solid #ff6600;
	content: '';
	width: 20px;
}
.resp-tabs-list li:last-child{margin-right:0;}
.resp-tabs-list li:last-child:after{display:none;}
.resp-tabs-container {
	padding: 30px 0 0;
	background-color: #fff;
	clear: left;
	text-align: center;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px 5px 0 5px;
  display: none;
}
.resp-tab-content {display: none;padding: 0 0;}
.resp-tab-active {color:#fff;}
.resp-tabs-list li.resp-tab-active{	
	background: #cfeedb;
}
.resp-content-active,
.resp-accordion-active { display: block;background:yellow; }

h2.resp-accordion {
   font-family: 'gilroybold';
  font-size: 20px;
  line-height:26px;
  border: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  margin: 0px;
  padding: 15px 15px 10px 15px; 
  background:#fff!important;
  letter-spacing:0;
}
h2.resp-tab-active {
  padding: 15px 15px !important;
}
.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}
/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #00affe !important;}

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: none; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block;}

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
@media only screen and (max-width: 1200px){
	.resp-tabs-list li{padding: 7px 20px; margin: 0px 13px 0 0;}
}
@media only screen and (max-width: 1095px){
	.resp-tabs-list li{margin-bottom: 10px;}
	.resp-tabs-list li:after{border:none;}
}
@media only screen and (max-width: 580px){
	.resp-tabs-list li{ font-size:16px; line-height:22px;margin: 0px 10px 10px 0;	}
	}
@media only screen and (max-width: 479px){
.resp-tabs-list li { padding:4px 14px;}
.resp-tabs-container{ padding-top:20px;}
}
#horizontalTab{padding:15px 0 0 0;}


