@charset "utf-8";
/* CSS Document */
.show-desk {display: block;}
.show-mob {display: none;}
.show-tab {display: none;}
@media only screen and (max-width:1187px){
.container{width:1004px;}

.crt-ic{ margin: 2px 0px 0 7px;}

.s1-txt2{width: 51%;}
.s1-btl2{left: auto;top: 114px; right: 34px; max-width: 180px;}
.s1-btl1{ max-width: 210px; top: 134px;}
.section-1 {height: 840px;}
.s1-innr{}
.s1-p4 {font-size: 17px;}
.s1img1 { width: 525px;}
.s1-ul .shop-btn {padding: 0px 40px;}
.s1-p5{}
.bnr-left{padding: 0px 34px;}
img.s1-prod1{right: 18px;}
img.s1-prod2{right: 127px; top: 221px;}
.section-2 {}
.s2-ul {}
.pad-1 {padding: 0 67px;}
.s2-ul li .s1-p5 { padding: 0 42px; font-size: 16px;}
.s2-prd-1:nth-child(2), .s2-prd-1:nth-child(3){ right: 20px;}
.s2-prd-1:nth-child(3){ left:20px;}

.s3-box-rit {width: 30%;padding: 20px 5px 10px 10px;}
.s3-box-lft {width: 70%;}
.s3-ul li {padding-left: 24px;margin: 10px 0 0;}
.s1-p5 {font-size: 26px;line-height: 36px;}
.s3-box {height: 393px;}

.s4-ul-2{}
.s1-p2 {}

.section-5 {}
.s5-innr {padding: 70px 0px 0 0;}
.s5-models {max-width: 54%;}
.s5-ul li {}
.s5-li-txt1 {padding-left: 72px;font-size: 19px;}
.s5-mid-rgt {padding: 100px 20px 0 0;}

.abt-grl {width: 310px;}
.abt-s2-mid {padding: 0px 327px 45px 0;margin: 47px 0 0 0;}
.about-box {height: 427px;padding: 10px 10px 0px}
.abt-txt1 {font-size: 21px;line-height: 25px;padding: 10px 10px 0px;}


/*====================================
	PRODUCT_DETAILS_PAGE
========================================*/
.package.mid{ margin-left:-94px;}
.prod1{ width:215px;}
ul.ingrdnt-list li p{ font-size:19px;}
ul.howTouse-list li{ padding-top:0;}
.best-results{ width:90%; margin-left:5%;}

/*=============================
	SHOP_PAGE
============================*/
.shop-prod-dtls{ width:64%; padding: 20px 10px 20px 0;}
.shop-txt2{ font-size:18px;}
.shop-prod{ width:150px; left:10px;}

}

@media only screen and (max-width:1021px){
.container{width:750px;}
.show-desk {display: none;}
.show-mob {display: none;}
.show-tab {display: block;}


.menu-bar {padding:11px 0 0 34px;}
.menu-bar li a {padding: 0px 15px;}

/*---CSS FOR BANNER-------*/
.top_section{ height: 472px; background-size: 1406px; background-position: 26% top;}
.s1-mid{margin-top: 55px; width:80%;}
.s1-txt1 span{font-size: 50px; line-height: 60px;}
.s1-txt2{ font-size: 18px; width: 60%;}

.section2{ background:none; height:auto; padding:40px 0;}
.s2-inner{ width:100%; text-align: center; padding:0;}
.heading:after {
    left: 50%;
    margin-left: -7px;
    bottom: -45px;
}
.heading:before{ right:0;}




.section-1{height: 750px;}
.s1-innr {margin-top: 20px;   width: 57%;}
.s1img1{ margin:71px 0 0; width: 383px;}
.sec-heading{font-size: 32px; line-height: 42px;}
.sec1-list li p span{font-size: 16px;line-height: 24px;}
.sec1-list li{font-size: 20px;line-height: 25px;}
.s1-ul{row-gap: 40px;}
.pad-1 {padding: 0;}
.s1-ul .shop-btn {}
.s1-ul li{}
.s1-ul li:before {left: 34%;}
.s1-ul li:nth-child(2):before {left: 52%;}
ul.strip-list li{font-size: 18px; line-height: 26px; padding: 0px 9px;}
ul.strip-list li span{font-size: 18px;}
.section-2 { padding:40px 0;}
.s2-ul {}
.s2-p1 span {
    font-size: 18px;}
.s1-p1 {
    font-size: 32px;
    line-height: 42px;}
.pad-2 {
    padding: 0 50px 0px;
}
.for-mob {
    display: block;
}
img.s1-prod2, img.s1-prod1 {
    max-width: 238px;
    top: 11px;
}
img.s1-prod2 {
	top: 280px;
    right: 0;
}
img.s2-mob-prd {
    display: inline-block;
    margin: 20px 0 0;
}
.s3-lst li {padding: 0 10px 0; margin:0;}
.s3-btm-bx {  padding: 33px 0 0 66px;font-size: 16px;line-height: 24px;}
.s3-btm-bx img { width: 51px;}
.s3-btm-bx span { font-size: 21px;line-height: 30px;margin-bottom:5px;}

.stp-prds{right: -120px;}

ul.s2list li{ width: calc(32% - 10px);}



/*-----------------------
	    CHECKOUT
------------------------*/
.chk-out { padding:0 0 30px;}
.chk-rgt { width:38%;}
.chk-rgt-mid {padding: 0 10px 30px;}

.frmBox {padding: 0 15px 30px;}
.timer-box {padding: 5px 0px 9px 0;font-size: 22px;}
.timer-box span {font-size: 25px;}
.chk-top-txt3 {font-size: 30px;margin: 10px 0 0 0;}
.chk-top-txt4{ font-size:16px;}
.chk-top-txt4 span{ font-size:17px;}
.timer-box img {vertical-align: bottom;}
.us-sec {padding: 7px 0 13px 187px;}
.chk-rgt-box {padding: 0 0px 0px 88px;}
.sx-days {padding: 0 10px 30px;}
.sx-days span {font-size: 22px;line-height: 27px;}


.card-row {width: 100%;margin-top: 5px;}
.paypal-block {width: 48%;float: left;}
.secure-img {margin: 20px 0 0 0;}
.paypal-btn {margin: -20px 0 28px 10px;}


/*-----------------------
	     FOOTER
------------------------*/
.fotr-txt1 {float: right; width:auto;margin: 0 0 0 0;}
.fotr-list {margin: 10px auto 0 -52px;display: inline-block; float:none;}
.fotr-list li:first-child { padding:0px;}


/*========================
	CONTACT_PAGE
===========================*/
.contact-section{ padding:40px 0;}
.contctHdng{ font-size:35px; line-height:40px;}
.cont-lft{ padding:30px 20px 30px 25px; width:50%;}
.cont-p1{ font-size:30px; line-height:32px;}
.cont-p2{ font-size:18px; line-height:26px;}
.cont-ul{ margin:0;}
.cont-ul li{ padding-left:65px; margin-top:30px;}
.cont-ic-1{ width:50px; top:2px;}
.cont-ul li span{ font-size:20px; line-height:22px;}
.cont-ul li p{ font-size:22px; line-height:22px;}
.social-icon{margin:8px 3px 0 0;}

.cont-right{ width:50%; padding: 30px 20px 30px 30px;}

/*====================================
	PRODUCT_DETAILS_PAGE
========================================*/
.details-s1-left{ width:35%; margin-left:0;}
ul.prd-slidebtm-list li{ padding: 10px 5px 10px 60px;}
ul.prd-slidebtm-list li img{ width:40px;}
ul.prd-slidebtm-list li p{ font-size:14px;}

.details-s1-right{ padding-right:0; width:61%;}
.prd-s1-p1{ font-size:30px; line-height:30px;}
.prd-cmn-txt{ font-size:18px; line-height:24px;}
.prd-s1-ul li{ font-size:18px; line-height:24px; padding-left:35px;}
.package.mid {margin-left: -73px;}
.pkgHdng{ font-size:20px; line-height:24px;}
.pkg-p1{ font-size:26px; line-height:25px;}
.float-prc1{ font-size:45px; line-height:45px;}
.float-prc2{ font-size:18px;}
.pkg-p3{ font-size:16px; line-height:18px;}

.detls-dv1{ padding:20px 0;}
.prd-s2-hdng{ font-size:34px; line-height:34px;}
.prod1 {width: 160px;}
.key-fact{ width:100%;}
.help-us{ width:100%; margin-top:20px;}
ul.safe-skin-list li{ margin-right:15px;}
ul.ingrdnt-list li{ padding-left:135px;}
.lft-ppdng {margin: 0px 0 60px 0 !important;}
ul.ingrdnt-list li img{ width:120px;}
ul.ingrdnt-list li span{ font-size:22px; line-height:22px;}
ul.ingrdnt-list li p{ font-size:17px; line-height:24px;}
ul.ingrdnt-list li:nth-child(2) {margin: 40px 0 40px 0;}
.ingredient-img{ margin-top:30px;}
ul.howTouse-list{ margin:0;}
ul.howTouse-list li{ padding-left:160px;}
ul.howTouse-list li img{ width:140px;}
.use-txt1{ font-size:18px;}
.use-txt2{ font-size:19px; line-height:20px; margin-top:5px;}
.use-txt3{ font-size:18px; line-height:24px;}
.best-results{ width:100%; margin-left:0; padding:0 20px 20px; margin-top:40px;}
.watchDV{ padding:10px 0 10px 52px; font-size:17px; line-height:22px;}
.watchDV img{ width:45px; top:8px;}
.watchDV:last-child{ width:48%;margin: 0 0 0 2%;}
.prod-faq-box .fq-acdn-heading{ font-size:20px;}
.acdn-content .prd-faq-txt{ font-size:18px; margin-top:20px;}

.prodDetails-sec3{ padding:50px 0;}
.reviewBox{ padding:0;}
.rev-desc{ font-size:18px;}

/*=============================
	SHOP_PAGE
============================*/
.shop-sec{ margin-top:40px;}
.shp-prod{ width:30%;}
.bg-clr{ width:47%;}
.shop-prod-dtls{ width:70%; padding:15px 5px 15px 0;}
.shop-txt2{ font-size:16px; line-height:22px;}
.shop-pdng { padding: 0 0 23px 0;}
.shop-prod{ width:80px; top:80px;}
.shop-txt1{ font-size:22px; line-height:26px;}
.shop-prod2 {left:5px;width:90px;    top: 40px;}
a.learn-more-btn{ width:120px; margin:20px 5px 0 0;font-size:14px;}
a.buy-btn{ width:120px; margin:20px 0 0; font-size:14px;}
.shop-box-left { height:243px;}


/*-----------------------
	     CONTACT
------------------------*/
ul.cont-list1 li, ul.cont-list1 li:nth-child(2){}



}


@media only screen and (max-width:767px){	
.container{width:100%; padding:0 10px; max-width:600px;}
.show-desk {display: none;}
.show-tab {display: none;}
.show-mob {display: block;}
.hide-mob{ display:none;}


.menu-bar { display:none;}
.crt { display:none;}
.mob-mnu-ic {cursor: pointer;position: absolute;right: 10px;top: 0;z-index: 16;height: 25px;}
.mob-mnu-ic button {outline: none;-webkit-appearance: none;background: none;padding: 0;cursor: pointer;border: none;}
.mob-mnu-ic span {color: #fff;display: inline-block;vertical-align: top;font-size: 16px;font-weight: 300;margin-top: 0px;margin-right: 5px;}
.bar1, .bar2, .bar3 {width: 35px;height: 4px;background-color: #919191;    transition: 0.4s;}
.bar2 {
     margin: 6px 0;
	}
#cart_btn_mob{ margin-top:0;}

.dl-active .bar1 {
	-webkit-transform: rotate(-45deg) translate(-7px, 6px);
	transform: rotate(-45deg) translate(-7px, 6px);
	background: #919191;
	}
.dl-active .bar2 {
	opacity: 0;
	}
.dl-active .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background: #919191;
	}
.mob-menu-div {
	float: left;
	width: 100%;
	}
.mobimenu {
	float: left;
	width: 100%;
	position: fixed;
	top: 51px;
	background: #f6fcfa;
	z-index: 99;
	left: 0px;
	bottom: 0px;
	}
.mobimenu li {
	float: left;
	width: 100%;
	color: #fff;
	padding: 10px;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	border-bottom: 1px solid #e1e1e1;
	font-weight: normal;
	}
.mobimenu li a {
	color: #2d2d2d;
	float: left;
	width: 100%;
	padding: 5px 10px;
	}
.mobimenu li a:hover, .mobimenu li a.active {
	text-decoration: none;
	}
.mobimenu li ul {
	float: left;
	width: 100%;
	padding: 0 18px;
	border-bottom: 0;
	}
.mobimenu li ul li:last-child {
	border: none;
	}
.mobimenu li a:hover .m-arw, .mobimenu li a.active .m-arw {
	fill: #f08a3c;
	}
.mobimenu.mobimenu-top {
	top: 48px;
	}
.menu-lock-mob{
	right:62px;
	top:6px;
	position:absolute;
	}
			
	
.crt-ic {margin: 0px 55px 0 0px;}	
.top-txt1{display:none;}	
.top-txt2,.top-sec {float: none; display:none}	

.top-fix-bar{ margin-top:50px;}
.menu-sec {padding: 12px 0; height: 50px;margin-top: -50px;top: 0px;}	
.logo, .logo-btm{max-width: 110px; margin-top: -3px;}	


.top_section{  height:auto; padding-bottom:30px; background:#c1d8e3;}
.s1-mid {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.s1-btl{ width: 460px; margin: 10px auto 0; float: none;  height: auto; position: relative;}
.s1-txt1{ letter-spacing:0;}
.s1-txt1 span {font-size: 30px; line-height: 40px;}
.s1-txt2 {margin: 10px 0 0 0;}
.s1-btl1{ max-width: 176px; position: relative;  z-index: 9; left: 0; top: 3px;}
.s1-btl2, .s1-btl3{ top:0; left:0;}
.s1-btl2{ right: 20px; left: auto; max-width: 170px; z-index: 3; top: 10px;}
.s1-btl3{ left: 20px; max-width: 170px; z-index: 3; top: 10px;}
.s1-txt2 {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}
a.s2btn{margin: 20px 0 0 0;}

.section2 { padding: 30px 0;}

.heading {font-size: 30px; line-height: 40px;}
.heading2 {font-size: 20px;line-height: 28px;margin-top: 13px;}
.strp-txt {font-size: 18px; line-height: 29px; margin-top:10px;}
.stp-prds{ display:none;}
.s2-left, .s4-right{ display:none;}
.s2-rit, .s4-lft{width:100%; margin-top:20px;}
.s2-p1{line-height:34px;}
.s2-rit .s1-p3, .s4-lft .s1-p3{padding: 10px 0 5px;}
.s2-img-mob{float:left; width:100%;}
img.s2-mob-prd{    max-width: 200px;}

.hm-strip{padding: 1px 0 0px; text-align:center; height: 130px;}
.hm-strip .heading {font-size: 26px; line-height: 48px;}

.section3{ padding:20px 0;}
.section3 .strp-txt {width:100%; font-size: 18px;line-height: 29px;}
.s3-lst{flex-wrap: wrap;     row-gap: 20px;}
.s3-lst li{ width: 323px; float: none;  margin: 0 auto;}
.s3-lst li:last-child{ margin:0 auto;}

ul.strip-list{   display: inline-block; }
ul.strip-list li{     width: 100%;
    padding-bottom: 19px;
    border-right: none;}
ul.strip-list li:nth-child(2){ border-right:none;}
.s3-lft ul li{    padding: 0px 17px 20px;}
.wht-strip{padding:25px 0;}
.wht-ul{flex-wrap: wrap;}
.wht-ul li{width:100%; border:none; margin:10px 0;}

/*.banner { padding: 12px 0 25px; background: #fbfdf8;}*/
.bnr-box { width: 100%; padding:0; text-align:center;}
.bnr-prd { position: static; display:inline-block; max-width: 100%;}

.bnr-p3 {font-size: 16px;line-height: 26px;margin: 15px 0 18px;}
.bnr-box2 {margin: 10px 0 0; padding: 0 0;}
.bnr-uls, .bnr-uls-rit {width: 100%;}
.bnr-uls li, .bnr-uls-rit li{ margin:16px 0 0;}
.bnr-heading{font-size: 18px; line-height: 42px;}
.bnr-heading span {font-size: 34px; line-height: 36px;}
.banner-sec{ padding: 0 0 20px; background-size: cover; height: auto;}
.bnr-left{ width: 100%; margin: 18px 0; text-align: center;}
.banner .sec-line { margin-bottom: 8px;}
.bnr-prd { display:none;}
.mob-banner{display:inline-block;max-width:100%;margin:5px 0 0;}
.marg-1 {margin-top: 25px;}
.pink-p1{float:left;width:100%;text-align:center;margin:0;}
.pinkOpt{margin-top:15px;margin-bottom:15px;}
.sign-box {width: 100%;}
.seen-sec {padding: 30px 0 0;}
.seen-ul li {padding: 9px 8px;}
.s1img1 {
    width: 370px;
    float: none;
    display: inline-block;
}
.s1-right {
    text-align: center;
    width: 100%;
    margin: 20px 0 0;
}
.sec1-list li {
    text-align: center;
    padding: 15px 25px;
    box-shadow: 0px 0px 5px #ccc;}
.sec1-list {margin-top: 20px;  width:100%;}
.sec1-list li img {
    position: relative;
    margin: 0 auto 10px;
    display: block;
}
.seen-ul {padding: 10px 0 25px;}
.shop-btn {font-size: 22px;margin-top: 24px;}

.section-1, .section-2, .section-3, .section-6 {padding: 30px 0;}
.section-1 {padding: 30px 0 30px; text-align:center; background:#fff; height:auto;}
.s1-innr { border-radius: 30px; padding: 0px 0; height:auto; width:100%}
.s1-ul {margin-top:20px;row-gap: 20px;}
.s1-ul li {padding: 0 0 0 80px; font-size: 17px;}
.s1-ul li span{font-size: 20px;}
.s1-ul li:before { display:none;}
.s1-li-div {float: none;display:block;margin:0 auto 0;width: 210px;padding: 0px 0 0px;}
.s1-ul li img {max-width: 70px;}
.s1-p1 { font-size:30px; line-height: 40px;}
.s1-p1 span { font-size: 18px; line-height: 28px;}
.s1-p2{margin-top: 10px; padding:0;}
.s1-p3 {font-size: 20px;line-height: 24px;}
.marg-2 {}
.s1-ul .shop-btn {}
.s1-ul li .s1-p5 {font-size:26px;line-height:28px;padding-bottom:0;min-height:auto; margin-top:0;}
.s2-prd-1 {max-width: 150px; margin: 0;}
.s2lhding{font-size: 22px; line-height: 28px;}
.s2prd{}
.s2prd:nth-child(2), .s2prd:nth-child(3){}
.s2prd:nth-child(3){}
.s2prd:nth-child(4), .s2prd:nth-child(5){max-width:110px;}
.s2-prd-1:nth-child(2), .s2-prd-1:nth-child(3){top: 18px; max-width: 135px; left: 40px;}
.s2-prd-1:nth-child(3) {left:auto;right: 40px;}
.s2-prd-1:nth-child(4), .s2-prd-1:nth-child(5){max-width: 120px; top: 34px; left: 0px;}
.s2-prd-1:nth-child(5) {left:auto;right: 0px;}

.section-2{background:#fcfff8;}
.s2-ul{ padding: 35px 0px 35px;justify-content: center;}
.s2-ul li { width:50%;}
.s2-ul li img {margin: 0 auto 8px;}
.s2-p1 {}
.s2-banner-mob{display:inline-block;max-width:100%; margin: 15px 0;}

.section-3{padding: 30px 0 0;}
.s3-box {height: auto;margin: 20px 0 0;}
.s3-box-lft {width: 100%;background:none;}
.s3-box-rit {width: 100%;padding: 20px 20px;}
.s3-sdo-img{vertical-align:top;}
.s3-p1 {font-size: 21px;line-height: 30px;}
.s3-lft ul{ display:inline-block;}


.pro-sec1{padding:30px 0;}
ul.s2list{margin:0px 0 0 0; justify-content: space-around; margin-top:30px;}
ul.s2list li{width: calc(100% - 20px); }
.s2prd:nth-child(2){left: 30px;}
.s2prd:nth-child(3){right: 30px;}
.s2prd:nth-child(4){ left:0;}
.s2prd:nth-child(5){ right:0;}

/*========================
	CONTACT_PAGE
===========================*/
.contact-section{ padding:25px 0 30px 0;}
.contctHdng {font-size: 26px;line-height: 30px;}
.contct-para{ font-size:18px; line-height:24px; margin-top:10px;}
.cont-lft{ width:100%; position:static; padding:20px 15px 40px; border-radius:10px 10px 0 0;}
.cont-p1 {font-size: 26px;line-height: 26px;}
.cont-ul li span{ font-size:18px;}
.cont-ul li p{ font-size:20px;}
.social-icon {margin: 8px 0px 0 0;}
.cont-right{ width:100%; padding:30px 15px 30px; border:none; border-top:1px solid #d9e4e6;}
.cntct-add-icn{ left:50%; top:-20px; margin-left:-20px;}

/*====================================
	PRODUCT_DETAILS_PAGE
========================================*/
.details-s1-left{ width:100%;}

.details-s1-right{ width:100%;}
.prodDetails-sec1{ padding:20px 0 10px;}
.prd-hdng{margin-bottom:15px; border-top:none; padding:0 0 10px;}
.prd-s1-p1 {font-size: 23px;line-height: 24px;}
.prd-s1-p2{ margin-top:10px;}

.select-pkg{ margin:10px 0 20px;}
.subscribe-pkg{ width:49%; font-size:18px;}
.package{ width:100%; position:relative;}
.package.mid{ position:static; margin-left:0;}
.package.left,.package.right{ margin-top:20px;}
.pkg-prcDv{ width:35%; padding:10px 0 10px 0; position:relative;}
.pkg-btnDv{ width:40%; padding:5px 10px 0 0;}
.pkg-p1{ padding:16px 0; width:25%;font-size: 22px;}

.float-prc1{ font-size:30px; line-height:30px;}
.float-prc2 {font-size: 16px;line-height: 16px; text-align: center;}
.float-prc2 span{ width:25px;}
a.addTocut-btn{ width:140px; font-size:15px; height:40px; line-height:40px;}
.pkg-p2{ font-size:16px; line-height:16px;}
.pkg-p3{ font-size:14px; line-height:14px;}
.pkg-prod{ width:70px; position:absolute; left:10px; top:25px;}

.prodDetails-Box{ padding-top:30px;}
.detls-dv1{ padding:0 0 20px;}
.prod1{ display:none;}
.prd-cmn-txt{ width:100%;}
.prd-cmn-txt {font-size: 16px;line-height: 24px;}
.detls-dv2{ padding:20px 0;}
.key-fact ul li{ font-size:16px;}
ul.safe-skin-list{ margin:0;}
ul.safe-skin-list li{ margin:10px 10px 0 0;}
ul.safe-skin-list li p{ font-size:14px;}
ul.safe-skin-list li img{ width:40px;}

.prodDetails-sec2{ padding-bottom:30px;}
ul.ingrdnt-list{ margin: 23px 0 11px 0 !important;}
ul.ingrdnt-list li,ul.ingrdnt-list li:nth-child(2){  padding-left: 90px; margin:20px 0 0 !important;}
ul.ingrdnt-list li img{ width:75px;}
.lft-ppdng {margin: 20px 0 60px 0 !important;}
.price_tag{ font-size: 20px !important;}

.mrgn30{ margin-top:10px;}
ul.howTouse-list li{ padding-left: 90px; margin:20px 0 0;}
ul.howTouse-list li img{ width:75px;}
.use-txt2{ font-size:17px;}
.use-txt3,ul.ingrdnt-list li p{ font-size:16px; line-height:22px; margin-top:8px;}
.resultsHdng{ font-size:22px;}
.best-results{ padding:0 10px 0;  margin-top: 30px;}
.watchDV,.watchDV:last-child{ width:100%; margin:0 0 10px 0;}
.watchDV img{}
.prod-faq-box{ margin-top:0;}
.prod-faq-box{ margin-top:0; font-size:18px;}
.prod-faq-box .fq-acdn-heading{ margin-top:15px;font-size: 18px;}
.acdn-content .prd-faq-txt{ font-size:16px; line-height:22px; margin-top:15px;}
.fq-acdn-heading:after{ font-size:20px; line-height:20px;  margin-top: -10px;}
.prod-faq-contnt{ padding-bottom:0;}


.prodDetails-sec3{ padding:30px 0;}
.cmn-head {font-size: 24px;line-height: 34px;}
.reviewBox{ margin-top:20px;}
.rev-row{ padding-left:70px;  margin: 20px 0 0;}
.name-icon{ width:55px; height:55px; line-height:55px; font-size:24px;}
.rev-title{ font-size:18px; line-height:26px;}
.rev-desc{ font-size:16px; line-height:24px;}
.rvw-name{ margin-top:20px; font-size:18px;}
.rvw-hr{ margin-top:20px;}


/*-----------------------
	     CHECKOUT
------------------------*/
.chk-left {margin-top: 20px;}
.chk-out {padding: 0px 0 20px;}
.chk-rgt {width: 100%;margin: 20px 0 0;}
.odr-txt {font-size: 20px;padding: 8px 13px 8px; margin:0; line-height:28px;}
.chk-rgt-mid {padding: 15px 10px 30px;}
.chk-rgt-box {margin: 0 0 20px 0;padding: 0 0px 0px 95px;}
.chk-txt1 {font-size: 18px;line-height: 21px;}
.chk-prc {font-size: 18px;line-height: 35px;}
.summry_tog{display:none; float:left; width:100%;}
.summryHeading-toggle{
	position:relative;
	}
.summryHeading-toggle:after{
	position: absolute;
    content: '+';
    right: 11px;
    top: 6px;
    font-size: 27px;
	font-weight: normal;
    color: #0c426d;
    transition: transform 0.375s linear;
	}
.summryHeading-toggle.slide:after{
	transform: rotate(135deg);
	}


.shpng-txt {font-size: 20px; line-height:24px;padding: 9px 21px 14px;}
.timer-box {width: 100%; font-size: 18px;}
.timer-box img {vertical-align: text-bottom;width: 23px;}
.timer-box span {font-size: 20px;}
.chk-top-txt3 {font-size: 20px;margin: 0px 0 0 0;line-height: 30px;}
.chk-top-txt2 {font-size: 16px;line-height: 22px;margin: 0; width:100%;}
.chk-top-txt5 {font-size: 16px;line-height: 22px;}
.chk-left{ width:100%;}
.frmElements{ border:none; margin-top:10px;}
.field-all{ border: 1px solid #bababa; border-radius:5px;}
.field-all.hlf{ width:100%;}
.field-all.bdr{ float:right; margin-top:10px;}
.field-all.threehlf{ width:49%;margin: 0;}
.cvv{ width:49%; margin-top:10px; border:none;}
a.whats-dis{ right:-30px;}


.us-sec {padding: 9px 0 13px 76px; line-height:22px; margin-bottom:20px;}
.frmBox {padding: 0 15px 0px;}
.fieldToggle {font-size: 18px;line-height: 22px;}
.radio-card {margin: 1px 0 0 0;width: 170px;}
.paypal-btn {margin: 4px 0 28px 15px; max-width:80%;}
.secure-img {margin: 20px 0 20px 0;max-width: 100%;}

.sx-days {padding: 0 10px 20px;}
.sx-days p{ font-size:17px; line-height:25px;}
.order-btn{ margin-top: 10px;max-width: 230px; height: 53px;  font-size: 18px;}

.drawer__header {height: 50px;padding-top: 15px;}
.paypal-block {width: 100%;}
.radio-paypal {float: left;margin: 5px 0 0px 30px;}

/*=============================
	SHOP_PAGE
============================*/
.shop-sec{ margin-top:10px;}
.shop-box-left{ width:100%; margin:20px 0 0;height: auto;}
.shop-prod-dtls{ width:100%; text-align:center; padding:20px 30px;}
.shop-txt1{ margin-bottom:15px; font-size:20px; line-height:24px;}
.shop-pdng {padding: 0;}
a.learn-more-btn,a.buy-btn{ float:none; display:inline-block; vertical-align:middle;}
.shop-prod-mob{ margin:0 auto;max-width:70%;}
.shop-prod2-mob{ margin:0 auto; max-width:70%;}


/*-----------------------
	     FOOTER
------------------------*/
.ft-icon { display: inline-block;float: none;}
.ftr-icon {float: none;width: 170px;}
.fotr-txt1 {float: none;margin: 10px 0;}
.fotr-list {margin: 0 0;}


/*-----------------------
	     CONTACT
------------------------*/
ul.cont-list1{margin-top:20px; padding: 0;}
ul.cont-list1 li{width:100%}
.cont-list1-p1{padding-top:10px;}

}



